body{
    border: 20px solid rgb(44, 120, 158);

   background: rgb(57, 153, 201);

   color: rgba(255, 255, 255, 0.925);

}
section {
    position: relative;
    background-color: skyblue;
    height: 480px;
    border: 20px solid aquamarine;
    padding: 50px;
    width: inherit;
}

.weat {
    width: 50%;
    position: absolute;
    top: 5px;
    left: 200px;
    font-size: 25px;
}

.list {
    width: 60%;
    list-style: none;
    text-align: center;
    padding-top: 25px;
    padding-left: 200px;
    font-size: 0;
}

.list li {
    
    box-sizing: border-box;
    border: 2px solid white;
    font-size: 20px;
    display: inline-block;
    height: 100px;
    opacity: 0.5;

}

.list .bbb {
     
    width: 44%;
    position: relative;
}

.list .ccc {
    
    
    width: 22%;
    position: relative;
}

.list .aaa {
    width: 88%;
    position: relative;
}

p {
    position: absolute;
    top: 300;
    font-size: 25px;
    left: 200px;
}

.list .temp {
    padding-top: 30px;
    position: absolute;
    
   
}

.list .wi {
    padding-top: 31px;
    position: absolute;
}

.bbb {

    padding-top: 20px;
    position: relative;
}

.bbb .temp {
    left: 40%;
}

.bbb .wi {
    left: 55%;
}

.aaa {
    padding-top: 20px;
    position: relative;
}

.aaa .temp {
    left: 45%;
}

.aaa .wi {
    left: 53%;
}

.ccc {
    padding-top: 20px;
    position: relative;
}

.ccc .temp {
    left: 30%;
}

.ccc .wi {
    left: 60%;
}
li:hover {
    border: 2px solid white;
    opacity: 1;
    transition: opacity 1s ;
}

li:nth-child(1) {
    background: #3399CC;
}


li:nth-child(2) {
    background: #33CCCC;
}

li:nth-child(3) {
    background: #996699;
}

li:nth-child(4) {
    background: #C24747;
}

li:nth-child(5) {
    background: #e2674a;
}
li:nth-child(6) {

    background: #FFCC66;

}
li:nth-child(7) {

    background: #99CC99;

}
li:nth-child(8) {

    background: #669999;

}
li:nth-child(9) {

    background: #CC6699;

}
li:nth-child(10) {

    background: #339966;

}
li:nth-child(11) {

    background: #666699;

}